<div class="reset-container"> 
  <h2>Recuperar Senha</h2>
  <form (ngSubmit)="reset()" #form="ngForm">
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      placeholder="Digite seu email"
      required
    />
    <button type="submit">Enviar link de recuperação</button>
  </form>

  <div class="reset-link">
  <a routerLink="/login">
    <span class="arrow-icon"></span> Voltar para o login
  </a>
</div>


  <p *ngIf="mensagem">{{ mensagem }}</p>
  <p *ngIf="erro" class="error">{{ erro }}</p>
</div>
